nav {
	position: -webkit-sticky;
	position: fixed;
	background-color: #fff;
	box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  width:  100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-li {
  text-align: center;
}

/* Change the link color to #111 (black) on hover */
.navbar-li:hover {
  background-color: #353535;
}

.navbar-li:hover {
  background-color: #444;
}



.mainNav {
  color: #eee;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 100;
}

.mainNav:hover {
  background-color: transparent;
}

.navlink {
  color: #eee;
  display: inline-block;
  margin: 0;
  line-height: 30px;
}

.downloadlink:hover {
  background-color: #06c;
}