
.tocnav {
  width: 220px;
  min-width: 220px;
  padding: 16px;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 72px;
    max-height: calc(100vh - 40px);
    overflow: auto;
  margin-top: 150px;
}

.tocnav ul li {
  margin-bottom: 15px;
}
